h1, h2{
    color:blue;
}
h1{ 
font-size: 4em;
background-color: red;
border:solid 10px;
border-color: blue;
margin: 10px 20px 30px 40px;
padding: 100px;
}
li {
    font-style: italic;
    text-align: left;
}
.contact{
    color: blueviolet;
}
#titulo{
    color:coral;
}
span.contact, .experiencia > span{
    color:aqua;
}

body {
    display:flex;
    justify-content: center;
}
.wrapper{
    width: 80%;
    background: burlywood;
}