.recuadro{
    border: solid 5px;
    border-color:blue;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.recuadroNoticia{
    border: solid 5px;
    border-color:blue;
   
}

.anchomitad{
    width: 49%;
    display:inline-table;
    /*box-sizing: content-box;*/
    
}
